
body {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
* {
    box-sizing: border-box;
}
h1{
    display: flex;
    font-family: 'Brush Script MT', cursive;
    font-style: italic;
    font-size: 50px;
    color: goldenrod;
    justify-content: center;
    align-items: center;
   
}
.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    border: 2px solid red;

}
.makeGrid {
    display: grid;
    grid-template-columns: repeat(16, 35px );

}


.container {
    height: 560px;
    width: 560px;
    background-color: white;
    border: 5px solid black;
    margin: auto;
    
    
}
.grids {
    float: left;
    box-sizing: border-box;
    border: 1px solid black;
    
}



.drawing {
    background-color: gray;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding-bottom: 30px;
    background-color: red;
    width: 800px;
    height: 800px;
    border: 2px solid black;
}
button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}



